<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!-- 1，数据库连接信息 -->
  <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <!-- <property name="connection.url">jdbc:mysql:///itcastoa0720</property> 
			<property name="connection.driver_class">com.jdbc.mysql.Driver</property> 
			<property name="connection.username">root</property> 
			<property name="connection.password">root</property> 
			 2，其他配置 -->
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <!-- 项目集成时出现问题，就是缺少这句话的原因javax.persistence.validation.mode默认情况下是auto的，就是说如果不设置的话它是会自动去你的classpath下面找一个bean-validation**包，但是找不到，所以beanvalitionFactory错误。 -->
  <property name="javax.persistence.validation.mode">none</property>
  <mapping resource="chzu/lujie/work/domain/Role.hbm.xml"/>
  <mapping resource="chzu/lujie/work/domain/User.hbm.xml"/>
  <mapping resource="chzu/lujie/work/domain/Department.hbm.xml"/>
  <mapping resource="chzu/lujie/work/domain/Permission.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
